.bids_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bids_section {
    padding-top: 30px;
    height: 100%;
    overflow-y: scroll;
}

.price_block {
    width: 95dvw;
    height: 25dvh;
    min-height: 150px;
    border: 2px solid var(--standart-color);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content:center;

    background-color: color-mix(in srgb, var(--standart-color) 30%, transparent);

    box-shadow: 0 10px 20px color-mix(in srgb, var(--active-color) 30%, transparent);

    overflow: visible;
}

.price_text.price {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 20px;
    border: 1px solid var(--standart-color);
    border-radius: 8px;

    margin: 0;

    background-color: var(--secondary-color);
}

.info {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}

.bids_open {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95dvw;
    box-sizing: border-box;
    padding: 0 8dvw;

    margin-top: 20px;
}

.bid {
    width: 38dvw;
    height: 68px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;

    color: var(--main-text-color);
}

.bid_symbol {
    display: inline-block;
    transform: rotate(90deg);
}

.bid.bid_up {
    background-color: var(--bid-up);
}

.bid.bid_down {
    background-color: var(--bid-down);
}

.bids_value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95dvw;
    box-sizing: border-box;

    margin-top: 20px;
    z-index: 2;

    max-width: 500px;
}

.bids_percent_buttons {
    z-index: 2;
}

.bid_count {
    box-sizing: border-box;
    width:19dvw;
    height:19dvw;
    border-radius: 50%;
    border: 2px solid var(--main-text-color);
    background-color: color-mix(in srgb, var(--standart-color) 39%, transparent);
    color: var(--main-text-color);

    max-width: 75px;
    max-height: 75px;
}

.bid_count:hover, .bid_count:active {
    background-color: var(--active-color);
}

.bid_value_input {
    box-sizing: border-box;
    width: 45dvw;
    height: 19dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-radius:  0 18px 18px 0;
    padding-right: 10px;
    background: radial-gradient(circle at 0,
     #00000000,
      #00000000 11dvw,
       color-mix(in srgb, var(--standart-color) 39%, transparent) 11dvw,
        color-mix(in srgb, var(--standart-color) 39%, transparent) 100%);
        margin-left: -9.5dvw;
        z-index: 1;

    max-height: 75px;
    max-width: 288px;
}

@media screen and (min-width: 394.736842105px) {
    .bid_value_input {
        background: radial-gradient(circle at 0,
     #00000000,
      #00000000 43px,
       color-mix(in srgb, var(--standart-color) 39%, transparent) 43px,
        color-mix(in srgb, var(--standart-color) 39%, transparent) 100%);
        margin-left: -43px;
        z-index: 1;
    }

    .bids_percent_buttons {
        max-width: 248px;
    }
}

.bid_value {
    width: calc(45dvw - 47px - 11dvw - 35px);
    margin-right: 5px;
    height: 37px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    border: 1px solid var(--standart-color);

    color: var(--main-text-color);
    text-align: center;
}

@media screen and (min-width: 430px) {
    
    .bid_value {
        width: calc(45dvw - 47px - 43px - 35px);
        max-width: 170px;
    }
}


.bids_percent_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 72dvw;
    
}

.info_modal_background {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.636);
    z-index: 10;
}

.info_modal {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 80dvw;
    height: 60dvh;

    z-index: 20;
    background-color: var(--secondary-color);
    border: solid 1px var(--standart-color);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current_bid_block {
    margin-top: 50px;
    width: 95dvw;
    height: 100px;

    border: 2px solid var(--standart-color);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;

    background-color: color-mix(in srgb, var(--standart-color) 30%, transparent);

    padding: 15px;

    overflow: hidden;
}

.win {
    border-color: green;
}

.lose {
    border-color: red;
}

.current_bid_procces_beckground {
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

.win .current_bid_procces_beckground {
    background-color: #00ff0088;
}

.lose .current_bid_procces_beckground {
    background-color: #ff000088;
}