:root {
  --main-text-color: #fdfbfc;
  --secondary-text-color: #958683;
  --standart-color: #505050;
  --secondary-color: #090909;
  --bid-up: #34c85a;
  --bid-down: #ff3b2f;
  --shadow: #9B3C1F;
  --active-color: #f44c1e;
}

.bids_section {
    padding-top: 50px;
}

.price_block {
    width: 95dvw;
    height: 25dvh;
    border: 2px solid var(--standart-color);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content:center;

    background-color: color-mix(in srgb, var(--standart-color) 5%, transparent);
    filter: drop-shadow(0 20px 15px color-mix(in srgb, var(--shadow) 27%, transparent));
}

.info {
    position: absolute;
    right: 10px;
    top: 10px;
}

.bids_open {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95dvw;
    box-sizing: border-box;
    padding: 0 8dvw;

    margin-top: 35px;
}

.bid {
    width: 38dvw;
    height: 68px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;

    color: var(--main-text-color);
}

.bid_symbol {
    display: inline-block;
    transform: rotate(90deg);
}

.bid.bid_up {
    background-color: var(--bid-up);
}

.bid.bid_down {
    background-color: var(--bid-down);
}

.bids_value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95dvw;
    box-sizing: border-box;
    padding: 0 5dvw;

    margin-top: 20px;
}

.bid_count {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--main-text-color);
    background-color: var(--standart-color);
    color: var(--main-text-color);
}

.bid_count:hover, .bid_count:active {
    background-color: var(--active-color);
}

.bid_value_input {
    box-sizing: border-box;
    width: 50dvw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--standart-color);
    border-radius:  0 15px 15px 0;
    padding-right: 10px;
}