.game_button {
    position: relative;
    width: 60px;
    height: 35px;
    border: solid 1px var(--standart-color);
    border-radius: 20px;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_icon {
    width: 30.5px;
}