:root {
  --main-text-color: #fdfbfc;
  --secondary-text-color: #958683;
  --standart-color: #505050;
  --secondary-color: #090909;
}


.ton_connect {
    width: 205px;
    height: 35px;
    margin-right: 15px;
    box-sizing: border-box;
    border: solid 1px var(--standart-color);
    background-color: var(--secondary-color);
    border-radius: 25px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.ton_connect img {
    margin-right: 5px;
}