:root {
  --icon-color: #fdfbfc;
  --active-color: #f44c1e;
  --standart-color: #505050;
  --background-color: #000;
}

.mask_nav_background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 95dvw;
    height: 82px;
    border-radius: 25px;
    padding: 10px 5dvw;
    box-sizing: border-box;

    background-color: color-mix(in srgb, var(--standart-color) 39%, transparent);
    transform: translateY(12px);
}

.nav_bar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    height: 94px;    

    -webkit-mask-image: url('../img/navbar_mask.svg');
    mask-image: url('../img/navbar_mask.svg');
    mask-repeat: no-repeat;
    mask-position: var(--hole-x) 0;
    mask-size:auto;
    max-width: 2730px;
}

.navigate {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.navigate.active {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: var(--active-color);

    transform: translateY(-19.5px);

    z-index: 1;
}

.navigate_icon {
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

    z-index: 2;
}